.comics {
  max-width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  padding: 2em;
  background-color: #f8f8f8;
  border-radius: 10px;
}

.comicCard {
  border: 2px solid #999;
  background: rgba(255, 255, 255, 0.9);
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  height: 450px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);

  transition: 0.3s ease-in-out;
  text-decoration-color: #333;

  .caption {
    font-family: "Bangers", cursive;
    font-size: 1.8em;
    text-align: center;
    margin: auto auto 1em auto;
    padding: 1em;

    background-color: #fff;
    color: #333;
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  }

  &:hover {
    cursor: pointer;
    filter: grayscale(0);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3);
    transform: translate(-4px, -4px);

    .caption {
      opacity: 0.8;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .comics {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  .comics {
    grid-template-columns: 1fr;
  }
}
